# Aliases
alias py="python"
alias py3="python3"
alias ipy="ipython"
alias pymk="python3 -m venv .venv"
alias pyv="svenv"
alias gpa="gp && gp gitlab"

alias k9="kill -9"
alias ol="ollama"

# ecr (ecr reciever)
alias ecr="pbpaste | gpg -e -a"
# dcr
alias dcr="pbpaste | gpg -d"
# sign: use -u {user} to sign with a different user
alias sign="pbpaste | gpg --clearsign"

# weather
alias wttr="curl http://wttr.in/Bruckmühl"

# system update
if [[ "$OSTYPE" == darwin* ]]; then
  alias upg="sudo softwareupdate -iaR --verbose"
else
  alias apt="sudo apt"
  # upg -> interactive; upgy / upg -y -> non-interactive
  upg() { sudo apt update && sudo apt full-upgrade "$@" && sudo apt autoremove "$@"; }
  alias upgy="upg -y"
fi

# icloud (macOS only)
[[ "$OSTYPE" == darwin* ]] && alias ic="cd ~/Library/Mobile\ Documents/com~apple~CloudDocs"
