# Aliases
alias py="python"
alias py3="python3"
alias ipy="ipython"
alias pymk="python3 -m venv .venv"
alias pyv="svenv"

alias k9="kill -9"

# ecr (ecr reciever)
alias ecr="pbpaste | gpg -e -a"
# dcr
alias dcr="pbpaste | gpg -d"
# sign: use -u {user} to sign with a different user
alias sign="pbpaste | gpg --clearsign"

# weather
alias wttr="curl http://wttr.in/munich"

# softwareupdate
alias upg="sudo softwareupdate -iaR --verbose"

# icloud
alias ic="cd ~/Library/Mobile\ Documents/com~apple~CloudDocs"
