# Aliases
alias py="python3"
alias ipy="ipython"
alias k9="kill -9"

# mongodb
alias moup="brew services start mongodb"
alias modw="brew services stop mongodb"

# ecr (ecr reciever)
alias ecr="pbpaste | gpg -e -a"
# dcr
alias dcr="pbpaste | gpg -d"

# weather
alias wttr="curl http://wttr.in/munich"

# softwareupdate
alias upg="sudo softwareupdate -ia --verbose"

# icloud
alias ic="cd ~/Library/Mobile\ Documents/com~apple~CloudDocs"
