# Java
export JAVA_HOME=$(/usr/libexec/java_home -v 9)

# GPG - use gpg without suite
export GPG_TTY=$(tty)

# coreutils
# export PATH="/usr/local/opt/coreutils/libexec/gnubin:$PATH"
# export MANPATH="/usr/local/opt/coreutils/libexec/gnuman:$MANPATH"

# venv python3
export VIRTUALENVWRAPPER_PYTHON="/usr/local/bin/python3"
