# find shorthand
function f() {
  find . -name "$1"
}

# Start an HTTP server from a directory, optionally specifying the port
function server() {
  local port="${1:-8000}"
  open "http://localhost:${port}/"
  python -m SimpleHTTPServer
}

# Upload file to server and copy link to clipboard
function scpp() {
  local HOST="stkn.org"
  local DIR="htdocs/static.stkn.org"
  scp "$1" "$HOST:$DIR";
  ssh "$HOST" chmod a+r "$DIR/$1"
  echo "http://static.stkn.org/$1" | pbcopy;
  echo "Copied to clipboard: http://static.stkn.org/$1"
}
