# find shorthand
f () {
  find . -name "$1"
}

# Start an HTTP server from a directory, optionally specifying the port
server () {
  local port="${1:-8000}"
  open "http://localhost:${port}/"
  python -m SimpleHTTPServer
}

# Upload file to server and copy link to clipboard
scpp () {
  local HOST="stkn.org"
  local DIR="htdocs/static.stkn.org"
  scp "$1" "$HOST:$DIR";
  ssh "$HOST" chmod a+r "$DIR/$1"
  echo "https://static.stkn.org/$1" | pbcopy;
  echo "Copied to clipboard: https://static.stkn.org/$1"
}

# npm bump
bump () {
  npm version "$1" -m "bump version to %s"
}

# docker clean
dcl () {
  docker kill $(docker ps -q)
  docker rm $(docker ps -a -q)
}

# ssh tunnel: tunnel <host> <destination port> <local port>
tunnel () {
  echo "Forwarding $1:$2 to localhost:$3"
  ssh -nNT -L "$3":localhost:"$2" "$1"
}

# generate password
pwgen () {
  length=${1:-16}
  openssl rand -base64 $length | tr -d '\n' | colrm $((++length))
}

# soucre python venv
svenv () {
  while [ "$(pwd)" != "/" ]; do
    if [ -f "venv/bin/activate" ]; then
        source "venv/bin/activate"
        break
    elif [ -f ".venv/bin/activate" ]; then
        source ".venv/bin/activate"
        break
    else
        cd ..
    fi
  done
}
